.main {
  .booking {
    display: flex;
    .main_product {
      .img-product {
        width: 450px;
        height: 450px;
      }
    }
    .main_payment {
      margin-left: 50px;
      .payment_heading {
        font-weight: 800;
        font-size: 30px;
      }
    }
  }
}
